xterm*faceName:DejavVuSansMonoBook
/* xtermfaceSize:11 */

/* xtermloginshell:true */
XTerm*background: black
XTerm*Foreground: Grey

/* XTerm*faceName: Liberation Mono */
XTerm*faceSize: 9

XTerm*on2Clicks: regex [^  \n]+

XTerm*bellIsUrgent: true

! Make the terminal 127 by 42 characters in size
XTerm*geometry: 200x44+64+0

! By default, XTerm composes special chars with META. With this setting I can work my readline magic instead.
XTerm*metaSendsEscape: true

! Bracketed paste mode requires the allowWindowOps resource to be true
XTerm*allowWindowOps: true

XTerm*saveLines: 1000

! Don't jump to the bottom when there's output
XTerm*VT100*scrollTtyOutput: false

XTerm*VT100.Translations: #override \
    ShiftInsert: insert-selection(CLIPBOARD) \n\
    Insert: insert-selection(PRIMARY) \n\
    Shift: insert-selection(CLIPBOARD) \n\
    ShiftUp: scroll-back(1) \n\
    ShiftDown: scroll-forw(1)

! Copy paste
XTerm*selectToClipboard: true

! Colors
/* XTerm.VT100.background:         Black */
/* XTerm.VT100.color0:             Black */
/* XTerm.VT100.color1:             Red */
/* XTerm.VT100.color2:             Green */
/* XTerm.VT100.color3:             Yellow */
XTerm.VT100.color4:             CornflowerBlue
/* XTerm.VT100.color5:             Magenta */
/* XTerm.VT100.color6:             Cyan */
/* XTerm.VT100.color7:             White */
/* XTerm.VT100.colorBD:            White */
/* XTerm.VT100.colorBDMode:        true */
/* XTerm.VT100.colorUL:            Yellow */
/* XTerm.VT100.colorULMode:        true */
/* XTerm.VT100.cursorColor:        White */
/* XTerm.VT100.foreground:         White */
#include ".Xresources.d/local"
